* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png"), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    color: #ffffff;
    height: 64px;
    border: 0;
    padding: 18px 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* Header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 15px;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 100px;
}

.banner-sub-tittle {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 55px;

}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mx-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.w-25 {
    width: 25%;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

#about {
    background-color: #fff8f3;
    margin: 150px 200px;
    padding: 100px 130px 100px;
    text-align: center;

}

#about .section-title {
    font-weight: 700;
    font-size: 35px;
}

#about .section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
}

.bg-red {
    background-color: red;
}

.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;


}

.text-bold {
    font-weight: bold;
}

.text-shaddow {
    text-shadow: #757575 1px;
}

.text-lg {
    font-size: large;
}

.text-sm {
    font-size: small;
}

.text-light {
    font-weight: 200;
}


.text-color-secondary {
    color: #757575;


}

.mx-200 {
    margin-left: 200px;
    margin-right: 200px;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.box-shadow {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.text-center {
    text-align: center;
}