* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    color: #ffffff;
    height: 64px;
    border: 0;
    padding: 18px 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* Header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-sub-tittle {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 55px;

}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}